{% extends 'base.html' %}

{% block content %}
    <h2>Register</h2>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

                <div class="{{ category }}">{{ messages[0][1] }}</div>
    {% endif %}
{% endwith %}

    <form method="POST">
        <div>
            <div for="username">Username:</div>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <div for="password">Password:</div>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <div for="confirm_password">Confirm Password:</div>
            <input type="password" id="confirm_password" name="confirm_password" required>
        </div>
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
{% endblock %}
