{% extends 'base.html' %}

{% block content %}
    <div class="actions">
        <a href="{{ url_for('index') }}" class="btn-link">< Предметы</a>
     </div>
    <h1>{{ subject['name'] }}</h1>

    <div class="actions">
        {% if is_creator or role == 'админ' %}
            <a href="{{ url_for('add_assignment', subject_id=subject['id']) }}" class="btn-link">+ Добавить задание</a>
            <form action="{{ url_for('toggle_subject_openness', subject_id=subject['id']) }}"  class="btn-link" method="post" style="display: inline;">
                <button type="submit" class="btn-link">
                    Сделать {{ 'закрытым' if subject['openness'] == 'публичный' else 'открытым' }}
                </button>
            </form>
            <form action="{{ url_for('delete_subject', subject_id=subject['id']) }}"  class="btn-link" method="post" style="display: inline;" 
                  onsubmit="return confirm('Вы уверены, что хотите удалить предмет?');">
                <button type="submit" class="btn-link">Удалить предмет</button>
            </form>

        {% endif %}
    </div>

    <!-- <h2 style="opacity: 0;">Задания</h2> -->
    {% for assignment in assignments %}
        <a href="{{ url_for('assignment_page', assignment_id=assignment['id']) }}" class="card-link">
            <div class="card">
                <h2>{{ assignment['name'] }}</h2>
                {{ assignment['question_count'] }} вопросов 
            </div>
        </a>
    {% else %}
        <p>Нет заданий для этого предмета.</p>
    {% endfor %}

{% endblock %}
